<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <directory>tests/</directory>
        </whitelist>
    </filter>
</phpunit>